@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  align-items: center;
  height: 20vh;
}

.nav-list {
  display: flex;
}

.nav-list li,
a {
  list-style: none;
  text-decoration: none;
}

.nav-logo {
  font-size: 1.7rem;
  font-weight: 500;
}

.nav-list li {
  margin-right: 0.3rem;
  font-size: 1.4rem;
}

.nav-list li > a {
  color: rgb(38, 50, 56);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
}

.nav-list li > a:hover {
  transition: 0.3s;
  color: rgb(38, 50, 56);
  text-decoration: underline;
  text-underline-offset: 0.4rem;
  border-radius: 5px;
}

#contact {
  color: white;
  background-color: rgb(38, 50, 56);
  border-radius: 5px;
  margin-left: 1rem;
  border: solid 2px rgb(38, 50, 56);
  text-decoration: none;
  padding: 2px 8px 2px 8px;
}

#contact:hover {
  transition: 0.3s;
  background-color: white;
  color: rgb(38, 50, 56);
}

.nav-btn {
  background-color: white;
  font-size: 1.4rem;
  border-radius: 5px;
  border: solid 2px rgb(38, 50, 56);
  padding: 2px 8px 2px 8px;
  cursor: pointer;
}

.nav-btn:hover {
  transition: 0.3s;
  color: white;
  background-color: rgb(38, 50, 56);
}

.profile {
  margin: auto;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
  padding: 3rem 0 3rem 0;
  border-radius: 20px;
  box-shadow: 10px 20px 50px 1px rgb(183, 182, 182);
  position: relative;
  top: 20%;
}

.profile-wrapper {
  height: 92.5vh;
}

.profile-text {
  display: flex;
  flex-direction: column;
}

.profile-text h1 {
  margin: 0;
}

.profile-image {
  margin-right: 2rem;
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  padding-left: 0.6rem;
}

.profile-image img {
  border-radius: 50%;
  min-width: 100%;
  max-height: 100%;
}

.socials {
  position: relative;
}
.socials img {
  position: relative;
  margin-top: 1rem;
  height: 2rem;
  width: 2rem;
  left: -1.3%;
  cursor: pointer;
  margin-right: 0.5rem;
  vertical-align: middle;
}

.profile-text p {
  font-size: 1.4rem;
}

.profile-text h1 {
  font-size: 2rem;
}

.about-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 4rem;
}

.about {
  color: rgb(38, 50, 56);
  padding: 3rem;
  height: 100%;
  width: 50%;
}

.about p {
  font-size: 1.4rem;
  margin-top: 2rem;
}

.about h2 {
  font-size: 1.9rem;
}

.about-btn {
  margin-top: 2rem;
  background-color: rgb(38, 50, 56);
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
  border-radius: 5px;
  border: solid 2px rgb(38, 50, 56);
  padding: 2px 8px 2px 8px;
  cursor: pointer;
}

.about-btn:hover {
  transition: 0.3s;
  background-color: white;
  color: rgb(38, 50, 56);
}

.about-2 {
  width: 50%;
  padding: 3rem;
}

.about-2 img {
  height: 100%;
  object-fit: fill;
}

.down-arrow {
  position: absolute;
  top: 40%;
  left: -20%;
  width: 0;
  height: 30px;
  border: 2px solid;
  border-radius: 2px;
  animation: jumpInfinite 1.5s infinite;
  color: rgb(38, 50, 56);
}

.down-arrow:after {
  content: " ";
  position: absolute;
  top: 12px;
  left: -10px;
  width: 16px;
  height: 16px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 4px;
  transform: rotateZ(45deg);
  color: rgb(38, 50, 56);
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0;
  }
}

.contact {
  padding-top: 1rem;
  text-align: center;
  background-color: rgb(38, 50, 56);
  height: 100%;
}

.contact h3 {
  margin-top: 4rem;
  font-size: 2.5rem;
  color: white;
  font-weight: 400;
}
.contact p {
  margin-top: 2rem;
  font-size: 1rem;
  color: white;
  padding-left: 8rem;
  padding-right: 8rem;
}

.contact-socials {
  filter: invert(99%) sepia(99%) saturate(0%) hue-rotate(39deg) brightness(106%)
    contrast(101%);
  height: 2rem;
  width: 2rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  margin-right: 0.4rem;
  cursor: pointer;
  vertical-align: middle;
}

#twitter {
  height: 1.5rem;
}

.contact-sect-btn {
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  background-color: white;
  color: #263238;
  font-weight: 300;
  border-radius: 5px;
  border: none;
  padding: 8px 8px 8px 8px;
  cursor: pointer;
}

.contact-sect-btn:hover {
  transition: 0.3s;
  background-color: rgb(197, 197, 197);
}

.contact-nav {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.contact-nav li {
  padding: 1rem;
  font-weight: 200;
  font-size: 1.1rem;
  list-style: none;
  text-decoration: none;
}

.contact-nav li > a {
  color: white;
}

.contact-nav li > a:hover {
  text-decoration: underline;
  text-underline-offset: 0.4rem;
}

.rights {
  color: white;
  align-self: end;
  padding: 1.5rem;
  font-weight: 200;
}

.rights > span {
  font-weight: 500;
}

.skills-wrapper {
  height: 100%;
  padding: 6rem;
  padding-bottom: 12rem;
}

.skills-wrapper > h4 {
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 3rem;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.skills-images-1 {
  display: flex;
  gap: 6rem;
}

.skills-images-2 {
  display: flex;
  gap: 6rem;
}

.skills-images-1 > img {
  color: #263238;
  height: 10rem;
  width: 10rem;
  padding: 2rem;
  border: 1px solid #263238;
  border-radius: 1rem;
  box-shadow: 10px 10px 10px 0px rgb(183, 182, 182);
}

.skills-images-2 > img {
  height: 10rem;
  width: 10rem;
  padding: 2rem;
  border: 1px solid #263238;
  border-radius: 1rem;
  box-shadow: 10px 10px 10px 0px rgb(183, 182, 182);
}

.container#blur.active{
  transition: 0.1s;
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}


.contactf{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s;
  padding: 4rem;
  height: 30rem;
  width: 60%;
  background-color: white;
  border: 1px solid #263238;
  border-radius: 1rem;
  z-index: 10;
}

.contactf.active{
  transform: translate(-50%, -50%) scale(1);
}


.contactf h5{
  font-size: 1.5rem;
  margin-bottom: 1.5rem
}

.form-group{
  display: grid;
  gap: 0.5rem;
  
}

.form-group>input{
  height: 3rem;
}


.contact-form{
  display: grid;
  gap: 1.25rem;
  grid-template-columns: 1fr 1fr;
 
}


.form-group--full-width{
  grid-column: 1 / -1;
}

#message,#email,#name{
  resize: none;
  text-indent: 10px;
}

#message{
  height: 8rem;
}

.form-button{
  text-align: center;
  width: 40%; 
  font-size: 1.2rem;
  font-weight: 200;
  background-color: #263238;
  color: white;
  position: relative;
  left: 80%;
  border-radius: 5px;
}

.form-button:hover{
  transition: 0.2s;
  background-color: white;
  color: #263238;
}

.close{
  float: right;
  background-color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  position: relative;
  top: -2%;
}

#overlay{
  position: fixed;
  opacity: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0, 0.4);
  pointer-events: none;
  z-index: 9;
  transition: 0.2s;
}

#overlay.active{
  opacity: 1;
  pointer-events: all;
}



@media only screen and (max-width: 800px) {
  .nav {
    display: none;
  }

  .profile-wrapper {
    height: 100vh;
  }

  .profile {
    flex-direction: column;
    box-shadow: none;
    justify-content: center;
    text-align: center;
    padding: 0;
  }

  .profile-text h1 {
    margin-top: 1rem;
  }

  .about {
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
    margin-bottom: 3%;
  }

  .about-2 {
    display: none;
  }

  .contact {
    margin-top: 11rem;
    height: 80%;
  }
  
  .skills-images-1>img{
    padding: 1rem;
    height: 5rem;
    width: 5rem;
  }

  .skills-images-2>img{
    padding: 1rem;
    height: 5rem;
    width: 5rem;
  }


  .skills-images-1{
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .skills-images-2{
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .skills-wrapper{
    padding-bottom: 1rem ;
  }

  .contact p{
    padding:2rem;
    text-align: center;
    margin-top: 0;
  }

  .contact-sect-btn{
    font-size: 1rem;
  }

  .contactf h5{
    font-size: 0.9rem;
    text-wrap: nowrap;
    text-align: center;
  }

  .contactf{
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    padding: 1rem;
    display: grid;
  }

  .contact-form{
    grid-template-columns: 1fr;

  }

  .form-button{
    width: 50%;
    left: 25%;
  }

  .close{
    position: relative;
    top: -2.6%;
  }

}


@media only screen and (max-width: 393px){
  .skills-images-1 {
    justify-content: center;
    flex-wrap:initial
}
}